.mc-lists.el
ac-comphist.dat
auto-save-list/
backups/
bookmarks
elpa/
init.el~
org/init.dvi
org/init.el
org/init.html
org/init.org~
org/init.tex
projectile-bookmarks.eld
recentf
recentf~
saved-places
snippets/clojure-mode/elasticsearch
snippets/clojure-mode/jenkins
snippets/org-mode/ticket
snippets/org-mode/daily-tasks
src/
tramp
var/